\projectFolder\exercise21_inertIntf\work
\projectFolder\exercise21_inertIntf\exercise21_intertIntf.cr.mti
\projectFolder\exercise21_inertIntf\exercise21_inertIntf.mpf
\projectFolder\exercise21_inertIntf\vsim.wlf
\projectFolder\exercise21_inertIntf\wlftwn5swv
BadBehaviorSegway.mp4
SegwaySynthesis.mp4
SegwayInuse.mp4
\projectFolder\exercise22_Mapping\testingFiles

